<html>
  <% include partials/head.ejs %>
  <body>

    <div class="parallax-container valign-wrapper">
      <div class="section no-pad-bot">
        <div class="container">
          <div class="row center">
            <h5 class="header col s12 light">StreamDream</h5>
          </div>
        </div>
      </div>
      <div class="parallax"><img src="assets/img/background.jpg" alt="Matterhorn"></div>
    </div>

    <div class="container valign-wrapper">
      <div class="section">
        <form id="register" method="POST">
          <div class="row center">
            <div class="col s12 center">
              <h3><i class="mdi-content-send brown-text"></i></h3>
              <h4>StreamDream</h4>

              <br>

              <div class="card-panel indigo lighten-5 center">
                Sign In to start streaming.
              </div>

              <br>

              <%- errors %>

              <br>

              <div class="input-field col s12">
                <input id="username" name="username" type="text" class="validate" value="<%- username %>" required autofocus>
                <label for="username">Username</label>
              </div>

              <div class="input-field col s12">
                <input id="email" name="email" type="email" class="validate" value="<%- email %>" required>
                <label for="email">E-Mail</label>
              </div>

              <div class="input-field col s12 m6">
                <input id="password" name="password" type="password" class="validate" value="<%- password %>" required>
                <label for="password">Password</label>
              </div>

              <div class="input-field col s12 m6">
                <input id="password_repeat" name="password_repeat" type="password" value="<%- password_repeat %>" class="validate" required>
                <label for="password_repeat">Repeat Password</label>
              </div>

              <br>
              <br>

            </div>
          </div>

          <button type="submit" class="btn waves-effect waves-light indigo lighten-2 right">Register
            <i class="material-icons right">edit</i>
          </button>

          <button class="btn waves-effect waves-light grey lighten-1 left" onclick="window.location='/login';">Sign In
            <i class="material-icons right">input</i>
          </button>

        </form>
      </div>
    </div>

    <% include partials/scripts.ejs %>
  </body>
</html>
